@charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */

body {
	background: #fff;
	color: #222;
	font: 87.5%/1.5em 'Open Sans', sans-serif;
	margin: 0;
}

a {
	color: #67d;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	padding: 0;
	-webkit-appearance: none;
}

.center {
	text-align: center;
}

.right {
	float: right;
}

.left {
	float: left;
}

ul {
	list-style-type: none;
}

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
}
.clearfix:after { clear: both; }

/* ---------- LOGIN ---------- */

#login-signup-form {
	margin: 50px auto;
	width: 280px;
}

#login-signup-form form span {
	background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	color: #606468;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login-signup-form form input {
	height: 50px;
}

#login-signup-form form input[type="text"], input[type="password"], input[type="email"] {
	background-color: #3b4148;
	border-radius: 0px 3px 3px 0px;
	color: #606468;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 198px;
}

#login-signup-form form input[type="submit"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #ea4c88;
	color: #eee;
	font-weight: bold;
	margin-bottom: 2em;
	text-transform: uppercase;
	width: 280px;
}

#login-signup-form form input[type="submit"]:hover {
	background-color: #d44179;
}

#login-signup-form > p {
	text-align: center;
}

#login-signup-form > p span {
	padding-left: 5px;
}